*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: static;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: 700;
    color: #555047 ;
}
.navegador {
    display: flex;
}
.navegador a{
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navegador a:hover{
    border-bottom: 2px solid black;
}
#menu-icon{
    color: black;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
body {
    background: linear-gradient(245.59deg, white 0%, #d8d3c6 28.53%, #f1f2ec 75.52%);
}
.contactos {
    text-align: center;
    font-size: 40px;
}
.contactos h4{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.bajada {
    padding: 30px 100px;
}
.bajada h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: center;
}
.bajada p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px) {
}
@media (max-width: 1195px) {
}
@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }
    .navegador {
        position: absolute;
        top: -50%;
        right: 0;
        width: 300px;
        background: #000000;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
        z-index: 11;
    }
    .navegador a {
        margin-left: 0;
        display: block;
        margin: 10px 0;
        color: white;
    }
    .navegador.open {
        right: 0;
        top: 60px;
    }
}
@media (max-width: 680px) {
}
@media (max-width: 550px) {
}



.servicios h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 55px;
}


.botonesrrss-texto p1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    display: list-item;
    text-align: left;
    padding: 20px;
}

.botonesrrss-texto a1{
    
    color: rgb(36, 36, 36);
}


.image-frame {
    float: right;
    width: 300px;
    border: 3px solid rgb(126, 107, 73); 
    padding: 10px;
    margin-right: 100px;
  }

